@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: Azeret Mono;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* banner section style starts here */
.banner-container{
  width: 1440px;
  height: 652px;
  margin: 0 auto;
  background-image: url(Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-text{
  width: 998px;
  height: 136px;
}
.btn{
  width: 208px;
  height: 66px;
  border-radius: 8px;
  color: white;
  background:rgb(13, 19, 33);
  text-align: center;
  margin-left: 400px;
  margin-top: 100px;
}
#p{
  margin: 20px 0px;
}
#i{
  margin-top: 25px;
}
/* banner section style end here */
/* main section style starts here */
.section1{
  max-width: 946px;
  height: 1035px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 97px;
  padding: 80px 50px;
  margin-left: 450px;
  background-color: #FAFAFB;
}
.div-1{
  width: 850px;
  height: 240px;
  display: flex;
  justify-content: center;
  margin-bottom: 00px;
  justify-content: space-between;
}
#ww{
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
}
#wd{
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
}
#lm{
  width: 110px;
  height: 24px;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 20px;
  font-weight: 600;
}
.text-1{
  width: 390px;
  height: 72px;
  color: rgba(13, 19, 33, 0.7);
}
#H{
  width: 468px;
height: 52px;
margin: 50px 0px;
}
.div-2{
  width: 850px;
  height: 240px;
  display: flex;
  justify-content: center;
  margin: 32px 0px;
  justify-content: space-between;
}
.text-2{
  width: 390px;
  height: 72px;
  color: rgba(13, 19, 33, 0.7);

}
#lm2{
  width: 110px;
  height: 24px;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}
  .H2{
    width: 368px;
  height: 52px;
  margin: 50px 0px;
  }
.div-3{
  width: 850px;
  height: 240px;
  display: flex;
  justify-content: center;
  margin: 32px 0px;
  justify-content: space-between;
}
#lm3{
  width: 110px;
  height: 24px;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
}
.H3{
  width: 468px;
  height: 52px;
  margin: 50px 0px;
  color: rgba(13, 19, 33, 0.7);
}
/* main section style end here */
/* add video section starts here */
.video-section{
  width: 1140px;
  height: 775px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px auto;
}
 .c{
  margin: 20px 0;
  width: 852px;
  height: 52px;
 }
 .vi{
  width:1076px ;
  height: 550px;
  border-radius: 16px;
  margin-top: 48px;
 }
 /* add video section end here */